@{
    ViewBag.Title = "Contact US";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>

<address>
   <br />
    Unit F1, 350 Parramatta Road, Homebush West NSW 2140<br />
    <abbr title="Phone">P:</abbr>
    +61 1800 732 668 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Verser.com.au</a><br />
    
</address>