
@model VerserHRManagement.Models.Candidate

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="row clearfix">

    <div class="col-md-12 column">
        <table class="table table-bordered table-hover" id="tab_logic">
            <thead style="background-color:lightgray">
                <tr>

                    <th class="text-center" style="width:20%">
                        Skills
                    <th class="text-center" style="width:20%">
                        Job Title
                    </th>
                    <th class="text-center" style="width:20%">
                        Experience
                    </th>
                    <th class="text-center" style="width:20%">
                        Technical Level
                    </th>
                    <th class="text-center" style="width:20%">
                        Skill Rate
                    </th>
                    <th class="text-center" style="width:20%">
                        <button data-toggle="modal" data-target="#PerformanceSkillModal" class="btn btn-primary center-block">Add Task</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id='addr0'>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id='addr1'></tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 column">
        <table class="table table-bordered table-hover" id="tab_logic">
            <thead style="background-color:lightgray">
                <tr>

                    <th class="text-center" style="width:30%">
                        Goal
                    <th class="text-center" style="width:20%">
                        Start Date
                    </th>
                    <th class="text-center" style="width:20%">
                        End Date
                    </th>
                    <th class="text-center" style="width:50%">
                        Description
                    </th>
                    <th class="text-center" style="width:50%">
                        <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Add Skills</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id='addr0'>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td style="width:50%">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id='addr1'></tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="PerformanceSkillModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightgray">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="lineModalLabel">Skill Details</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <div class="md-form">
                            <label for="subject" class="">	Skills</label>
                            <input type="text" id="Goal" name="subject" class="form-control">

                            @Html.HiddenFor(model => model.ID, new { @id = Model.ID })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-bottom:20px">
                        <div class="md-form">
                            <label for="subject" class="">Job Title</label>
                            <input type="text" id="Status" name="subject" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-bottom:20px">
                        <div class="md-form">
                            <label for="subject" class="">Experience</label>
                            <input type="text" id="Status" name="subject" class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-bottom:20px">
                        <div class="md-form">
                            <label for="subject" class="">Technical Level</label>
                            @Html.DropDownListFor(model => model.technicalLevelsID, Model.TechnicianLevelList, "Technician Level", new { @class = "form-control", @id = "ddlTechnicialLevel" })
                        </div>
                    </div>

                    <div class="col-md-12" style="margin-bottom:20px">
                        <div class="md-form">
                            <label for="subject" class="">Skill Rate</label>
                            <input type="text" id="Status" name="subject" class="form-control">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer" style="background-color:lightgray">

                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <input type="submit" class="btn btn-primary btn-hover-green" value="Add" onclick="CreateResourcePerformanceGoal()" style="border:none" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="squarespaceModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:600px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:lightgray">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="lineModalLabel">Goal Details</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="col-md-12" style="margin-bottom:10px">
                        <div class="md-form">
                            <label for="subject" class="">Goal</label>
                            <input type="text" id="Goal" name="subject" class="form-control">

                            @Html.HiddenFor(model => model.ID, new { @id = Model.ID })
                        </div>
                    </div>


                    <div class="col-md-12" style="margin-bottom:10px">
                        <div class="md-form">
                            <label for="message">Description</label>
                            <textarea type="text" id="Description" name="message" rows="3" class="form-control md-textarea"></textarea>
                        </div>
                    </div>


                    <div class="col-md-12" style="margin-bottom:20px">
                        <div class="md-form">
                            <label for="subject" class="">Status</label>
                            <input type="text" id="Status" name="subject" class="form-control">
                        </div>
                    </div>



                    <div class="col-md-12" style="margin-bottom:10px">
                        <div class="md-form">
                            <label for="exampleInputFile">Start Date</label>
                            <input type="date" id="GoalStartDate">
                        </div>
                    </div>



                    <div class="col-md-12" style="margin-bottom:10px">
                        <div class="md-form">
                            <label for="exampleInputFile">End Date</label>
                            <input type="date" id="GoalEndtDate">
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer" style="background-color:lightgray">

                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <input type="submit" class="btn btn-primary btn-hover-green" value="Add" onclick="CreateResourcePerformanceGoal()" style="border:none" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function CreateResourcePerformanceGoal() {

        var ResourceGoalModel = {};
        ResourceGoalModel.FK_CandidateID = $("#id").val();
        ResourceGoalModel.Goal = $("#Goal").val();
        ResourceGoalModel.Description = $("#Description").val();
        ResourceGoalModel.Status = $("#Status").val();
        ResourceGoalModel.GoalStartDate = $("#GoalStartDate").val();
        ResourceGoalModel.GoalEndtDate = $("#GoalEndtDate").val();
        var json = JSON.stringify(SalesForceOpportunity);
        $.ajax({
            type: "POST",
            url: "./CreateResourcePerformanceGoal",
            data: json,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                $.confirm({
                    boxWidth: '600px',
                    useBootstrap: false,
                    title: '',
                    content: data,
                    closeIcon: true,
                    buttons: {
                        yes: { isHidden: true }
                    }
                });
                var str = data;
                str = str.replace("Goal Added successfully");
            },
            error: function () {
                alert("Dynamic content load failed.");
            }
        });
    }
</script>