@using VerserHRManagement.Models
@model  LoginModel
@{
    ViewBag.Title = "Login";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<div class="container">

        <div class="col-md-4 col-md-offset-4" style="margin-top:100px">
                <div class="panel panel-login" style="border:none">
                    <div class="panel-body">
                        <div class="row" align="center">
                           <img  src="~/Images/CompanyLogo.jpg"/>
                            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                <div class="col-md-12">

                                    <br />
                                    <div class="input-group col-lg-10">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control", placeholder = "Username" })
                                    </div>
                                    <br />

                                    <div class="input-group col-lg-10">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", placeholder = "Password" })
                                    </div>
                                    <br />
                                    <div class="input-group col-lg-10">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" style="background-color:grey;border-color:gray;">
                                    </div>
                                    <br /><br />
                                </div>
                                <div>
                                    @if (TempData["ErrorMessage"] != null)
                                    {
                                        <p style="color:red;padding-left:60px">@TempData["ErrorMessage"].ToString()</p>
                                    }
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

    </div>

<style>
    body {
        padding-top: 90px;
    }

    .panel-login {

    }

        .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
            height: 45px;
            border: 1px solid #ddd;
            font-size: 16px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

        .panel-login input:hover,
        .panel-login input:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }

    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: darkorange;
            border-color: #53A3CD;
        }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}